<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
          <div class="columns is-centered">
            <div class="column is-4">
              <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
                <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "profile_image is-rounded" %>
              </figure>
            </div>
            <div class="column is-8">
              <table class="table is-fullwidth">
                <tr>
                  <td class="is-size-4">
                    <strong><%= @user.username %></strong>
                  </td>
                  <td class="is-size-4">
                    <%= @user.email %>
                  </td>
                  <td class="is-size-4">
                    <i class="fas fa-book"></i> : <%= @user.recipes.count %>
                  </td>
                  
                  <% if @user.id == current_user.id %>
                  <td>
                      <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                  </td>
                  <% end %>
                </tr>
              </table>
              <table class="table is-fullwidth">
                <tr>
                  <td>
                    <%= @user.profile %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @recipe, :image %>
            </figure>
          </div>
          <div class="column is-7">
            <% if current_user.already_favorited?(@recipe) %>
              <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                <i class="fas fa-heart fa-2x"></i>
              <% end %>
            <% else %>
              <%= link_to recipe_favorites_path(@recipe), method: :create do %>
                <i class="far fa-heart fa-2x"></i>
              <% end %>
            <% end %>
          </div>
          <%= @recipe.favorites.count %>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @recipe.title %></p>
              </div>
            </div>
            
            <div class="recipe">
              <table class="table is-narrow recipe__inner">
                <tr>
                  <th>材料</th>
                </tr>
                <tr>
                  <td><%= simple_format @recipe.spice %></td>
                </tr>
              </table>

              <table class="table is-narrow recipe__inner space">
                <tr>
                  <th>分量</th>
                </tr>
                <tr>
                  <td><%= simple_format @recipe.quantity %></td>
                </tr>
              </table>
            </div>

            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>レシピ  </th>
                </tr>
                <tr>
                  <td><%= simple_format @recipe.body %></td>
                </tr>
              </table>

              <%= render "recipes/comments" %>

              <div class="comment-box">
                <%= form_for @comment do |f| %>
                  <%= f.hidden_field :@recipe_id, value: @recipe.id %>
                  <%= f.text_field :comment, placeholder: "コメントする" %>
                  <%= f.submit "投稿", class: "button is-warning btn_wrapper" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

